.divone {
  background-color: red;
  border: 10px solid black;
  outline: 10px solid purple;
  padding: 20px;
  margin: 20px;
}
.divtwo {
  background-color: aqua;
  border: 1px solid aqua;
  padding: 20px;
  margin: 20px;
  box-shadow: 5px 5px 10px 4px red;
  text-shadow: 4px 4px 3px purple;
}
.divthree {
  background-color: yellow;
  border: 1px solid yellow;
  padding: 20px;
  margin: 20px;
}
